:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #4079ea 10%, #7f2bd8 100%);
  
  /* 图标背景 */
  /* --vp-home-hero-image-background-image: linear-gradient( 135deg, #0062ff 10%, #ffffff 100%); */
  /* --vp-home-hero-image-filter: blur(150px); */
}
.image-src{
  animation: tcc 8s ease infinite;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out; /* 平滑过渡效果 */
  transform-origin: center center;
}
@keyframes tcc{
  0% {
    box-shadow: 0 0 500px 100px rgba(32, 136, 255, 0.612); 
    background-position: 0% 50%;
}
20% {
  box-shadow: 0 0 500px 100px rgba(19, 62, 217, 0.4); 
    background-position: 100% 50%;
}
40% {
  box-shadow: 0 0 500px 100px rgba(144, 60, 205, 0.4); 
    background-position: 100% 50%;
}
60% {
  box-shadow: 0 0 500px 100px rgba(232, 120, 120, 0.4); 
    background-position: 100% 50%;
}
80% {
  box-shadow: 0 0 500px 100px rgba(185, 41, 130, 0.4); 
    background-position: 100% 50%;
}
100% {
  box-shadow: 0 0 500px 100px rgba(32, 136, 255, 0.612); 
  background-position: 0% 50%;
}
}
.image-src:hover {
  transform: translateX(-160px) translateY(-160px) scale(0.90);
}